{% extends "base.html" %}
{% block title %}
    Frontend Development Technologies
{% endblock %}
{% block content %}
<div class="land">
    <img src="{{ url_for('static', filename='landing/javascript.jpeg') }}" alt="">
    <div class="cont">
        <h1></h1>
        <h1>
            JavaScript Development 
        </h1>
        <p>
            JavaScript powers thousands of web and mobile apps and it is one of the most popular programming languages in the software development world. Our JavaScript developers are well-versed in various JavaScript frameworks and libraries to deliver interactive front-end and robust back end of applications. With Fortress Data And Analytics JavaScript development services, you can utilize JavaScript’s versatility to build truly engaging, interactive, and seamless web applications.
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Get Started
            </button>
        </a>
    </div>
</div>

<div class="services-content">
    <div class="intro-cont">
            <h2>
                Our JavaScript Development Services
            </h2>
    </div>
    
    <div class="main-cont">
        <div class="contents left">
            <h4>
                JavaScript Web Development Services</h4>
            <p>At Fortress Data And Analytics,  we have experienced and expert team of developers that can help you with all the aspects of your web development requirements. Our JS developers use best of the frameworks and libraries to create simple, robust, dynamic and customized web development solutions.</p>

        </div>
        <div class="contents right">
            <h4>
                JavaScript Front End Development</h4>
            <p>JavaScript is a key technology for front-end web development allowing developers create dynamic user interfaces for web applications. Our JavaScript developers help you develop stunning designs, website and mobile apps that meets all the standards and expectations.</p>

        </div>
        <div class="contents left">
            <h4>
                JavaScript Back End Development</h4>
            <p>JavaScript is a versatile language that can be used for a wide variety of tasks, making it a good choice for developing complex back-end applications. With the rise in popularity of Node.js (a runtime environment) JavaScript back-end development has become a powerful choice for building scalable, high-performance server-side applications.</p>

        </div>
        <div class="contents right">
            <h4>
                JavaScript Enterprise Development</h4>
            <p>JavaScript’s ecosystem of libraries, frameworks, and tools makes it a ideal choice for developing enterprise applications. It is widely used in enterprise development for building a wide range of applications, from web and mobile apps to APIs and microservices.</p>

        </div>
        <div class="contents left">
            <h4>
                JavaScript Migration</h4>
            <p>We the help of best migration practices our dedicated JS developers assist you migrate a codebase, application, or system from one version of JavaScript to another, adopting new language features, standards, or frameworks.</p>

        </div>
        <div class="contents right">
            <h4>
                <img src="{{ url_for('static', filename='services/Effi.png') }}" alt="">

                JavaScript Support & Maintenance</h4>
            <p>Hire our dedicated JavaScript support and maintenance engineers to keep your applications bug-free with prompt risk analysis and issue resolution to run your projects smoothly at maximum efficiency.</p>
        </div>
    </div>
</div>

<div class="contact">
    <div class="polygon serv-poly">
        <div class="contact-head">
            <h1>
                Talk To Us
            </h1>
        </div>
    </div>
    <div class="contact-cont">
        <div class="main">
            <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
            <div class="content">
                <p>
                    Unlock the potential of dominant JavaScript to develop diverse applications such as web apps, mobile apps, web portals, dynamic websites, and custom JavaScript applications by hiring experienced JavaScript developers that streamline app development to attain your business goals.
                </p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        Lets Discuss Your Project
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
    

<div class="land">
    <img src="{{ url_for('static', filename='landing/react.jpeg') }}" alt="">
    <div class="cont">
        <h1></h1>
        <h1>
            ReactJS Development 
        </h1>
        <p>
            Level up your next big project with dynamic user interfaces, supreme visuals, and robust functionality with our best-in-class React JS development services. As a top ReactJS development company, we have a team of highly skilled, efficient, and experienced ReactJS Developers who are equipped with the right skills and in-depth knowledge of React fundamentals to deliver SPAs, PWAs, static site generation, social media apps, dynamic web pages, and more with an assurance of on-time project delivery.
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Get Started
            </button>
        </a>
    </div>
</div>

<div class="services-content">
    <div class="intro-cont">
            <h2>
                React JS Development Services
            </h2>
    </div>
    
    <div class="main-cont">
        <div class="contents left">
            <h4>
                <img src="{{ url_for('static', filename='services/PHP-Development-icon.png') }}" alt="">

                ReactJS Web Development Services</h4>
            <p>Gain a competitive edge with custom ReactJS apps that adhere to industry standards with our React development services. Fortress Data And Analytics dedicated ReactJS team of developers would customize the app according to your unique requirement offering your business the opportunity to increase revenue generation. Empower your custom web or mobile app with customized plugins and extensions build by our ReactJS resources to meet your development needs.</p>

        </div>
        <div class="contents right">
            <h4>
                <img src="{{ url_for('static', filename='services/Full-Stack-Web-Development.png') }}" alt="">

                ReactJS Web App Development</h4>
            <p>Web apps built with ReactJs are high-quality, high-performing, secure, and SEO-friendly and this is only possible with a dedicated team of ReactJS developers who offer top-notch React development services. Give your users the finest user experience with dynamic, interactive, and intuitive websites developed by our experienced React JS developers who are keen to offer top-of-the-line development solutions. To ensure the delivery of exceptional web apps, our developer can also conduct ReactJS code audits.</p>

        </div>
        <div class="contents left">
            <h4>
                <img src="{{ url_for('static', filename='services/Migration-icon.png') }}" alt="">

                App Migration to ReactJS</h4>
            <p>Migrating an app from existing technology to ReactJS is a big decision but our React JS developers can simplify it for you with expertise and years of experience. Eliminate the challenges and issues with the smooth migration of apps to ReactJS which offers user-oriented UI, responsiveness, enhanced security, and more. We will assist your business through the migration process to ensure hassle-free and roadblock-free migration.</p>

        </div>
        <div class="contents right">
            <h4>
                <img src="{{ url_for('static', filename='services/Front-End-Development.png') }}" alt="">

                ReactJS Front-end Development</h4>
            <p>Engaging apps are proven ways to enhance customer outreach and we are the reliable ReactJS Development Company that offers PWA-ready attractive, powerful, and responsive front ends. React JS developers at Fortress Data And Analytics  would leverage one-way data binding, lightweight DOM, and more such features of ReactJS for ReactJS front-end development. We have a reputation for delivering projects perfectly aligned with clients’ project requirements along with implementing the latest UI UX trends.</p>

        </div>
        <div class="contents left">
            <h4>
                <img src="{{ url_for('static', filename='services/Quick-Rendering-With-V-DOM-icon_.png') }}" alt="">

                Interactive ReactJS UI/UX Development</h4>
            <p>Attract the users and covert prospects to long-term customers with interactive UIs and impressive highly engaging web applications. Our ReactJS developer would leverage the latest capabilities of ReactJS to build your business eye-catching online applications which will contribute to the growth of business revenue. Innovative elements of the irresistible and intuitive layout would grab the attention of your users and give them a user experience that would relive in their minds for a long time</p>

        </div>
        <div class="contents right">
            <h4>
                <img src="{{ url_for('static', filename='services/Dedicated-Team.png') }}" alt="">

                Hire ReactJS Developers</h4>
            <p>Get hold of an extensive pool of highly skilled React JS developers who are trained and experienced for ensuring seamless project success. We offer flexible hiring models for hiring a creative ReactJS development team with the potential to develop visually rich, modern, dynamic, feature-rich front-end applications. With Fortress Data And Analytics, you have the power to scale the dedicated ReactJS development team to fit altering development requirements. We offer custom-dedicated development teams to provide customized project solutions.</p>

        </div>
        <div class="contents left">
            <h4>
                <img src="{{ url_for('static', filename='services/Java-Mobile-App-Development-icon.png') }}" alt="">

                React Mobile App Development</h4>
            <p>Elevate your mobile app’s user experience across multiple devices with our React JS mobile app developer service. We have an experience workforce/resource who will cater to the attractive and powerful app aligned with specific business needs. With us, you get the React app development consultation for your future-ready mobile apps. For clients with the requirement of business-oriented mobile apps, we provide custom solutions to orient business objectives with technological aspects of the app.</p>

        </div>
        <div class="contents right">
            <h4>
                <img src="{{ url_for('static', filename='services/Portal-Development-icon.png') }}" alt="">

                ReactJS Plugins Development</h4>
            <p>Enhance your web app’s functionality and performance with a customized plugin. Our developers would enable your web app to have offers one-of-a-kind features and functionality without even making hefty additional changes in the coding environment with customized plugin development. Elevate user experience with these additional features to achieve desired revenue from your investment in the web application. You can Hire ReactJS Developer at Fortress Data And Analytics to meet your needs of developing custom plugins.</p>

        </div>
        <div class="contents left">
            <h4>
                <img src="{{ url_for('static', filename='servicesSoftware-Testing-Services.png') }}" alt="">

                ReactJS Testing</h4>
            <p>Apart from top-notch React JS development services, our developers keep the web apps secure with stringent QA and testing services. We ensure to adhere to the highest quality standards for web apps for ensuring efficiency and flexibility. Our QA teams test the web app’s UI for identifying all possible issues and eliminate them to deliver a consistent unmatched user experience apart from keeping the web app immune to security breaches.</p>

        </div>
        <div class="contents right">
            <h4>
                <img src="{{ url_for('static', filename='services/BI_Support__Maintenance_icon-1.png') }}" alt="">

                ReactJS Support and Maintenance</h4>
            <p>Maintain robust performance of applications’ functionalities with our ReactJS support and maintenance services to ensure the app’s stability and consistent performance delivery. Apart from maintenance our developer also provides ReactJS support services to service clients' requirements of upgrading the apps’ functionalities to keep them relevant to users’ current usage requirements. Our proactive dedicated React JS development team is keen to meet your business needs under all scenarios.</p>

        </div>
    </div>
</div>

<div class="contact">
    <div class="polygon serv-poly">
        <div class="contact-head">
            <h1>
                Talk To Us
            </h1>
        </div>
    </div>
    <div class="contact-cont">
        <div class="main">
            <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
            <div class="content">
                <p>
                    Empower your business with high-performing apps with React JS front-end library. Our ReactJS development company has outstanding resources that cater to clientele’s specific React JS development requirements.
                </p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        Lets Discuss Your Project
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="ind-land">
    <div class="polygon">
        <div class="ind-head">
            <h1>
                Industries We Serve
            </h1>
        </div>
    </div>
    <div class="ind-cont">
        <div class="contents magnet">
            <a href="{{ url_for('fitness') }}" class="text">
                <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                <h5>
                    Fitness
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('fintech') }}" class="text">
                <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                <h5>
                    Fintech
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('education') }}" class="text">
                <img src="{{ url_for('static', filename='industries/education.png') }}">
                <h5>
                    Education
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('healthcare') }}" class="text">
                <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                <h5>
                    Healthcare
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('energy') }}" class="text">
                <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                <h5>
                    Energy & Utilities
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('travel') }}" class="text">
                <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                <h5>
                    Travel & Hospitality
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('manufacturing') }}" class="text">
                <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                <h5>
                    Manufacturing
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('adverts') }}" class="text">
                <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                <h5>
                    Advertising
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('retail') }}" class="text">
                <img src="{{ url_for('static', filename='industries/retail.png') }}">
                <h5>
                    Retail
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('entertain') }}" class="text">
                <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                    <h5>
                        Media & Entertainment
                    </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('supplychain') }}" class="text">
                <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                <h5>
                    Supply Chain And Logistics
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('travel') }}" class="text">
                <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                <h5>
                    Life Science
                </h5>
            </a>
        </div>  
    </div>
</div>

<script>
    // Select all .magnet and .text elements
    const magnetElements = document.querySelectorAll('.magnet');
    const magnetTextElements = document.querySelectorAll('.text');

    // Function to activate the magnetic effect on mouse move
    const activateMagneto = (event) => {
        const boundBox = event.currentTarget.getBoundingClientRect();
        const magnetoStrength = 40;
        const magnetoTextStrength = 300;
        const newX = ((event.clientX - boundBox.left) / event.currentTarget.offsetWidth) - 0.5;
        const newY = ((event.clientY - boundBox.top) / event.currentTarget.offsetHeight) - 0.5;

        // Move the current magnet element
        gsap.to(event.currentTarget, {
            duration: 1,
            x: newX * magnetoStrength,
            y: newY * magnetoStrength,
            ease: Power4.easeOut
        });

        // Move the corresponding text element
        const textElement = event.currentTarget.querySelector('.text');
        gsap.to(textElement, {
            duration: 1,
            x: newX * magnetoTextStrength,
            y: newY * magnetoTextStrength,
            ease: Power4.easeOut
        });
    };

    // Function to reset the magnetic effect on mouse leave
    const resetMagneto = (event) => {
        // Reset the position of the magnet and the text
        gsap.to([event.currentTarget, event.currentTarget.querySelector('.text')], {
            duration: 1,
            x: 0,
            y: 0,
            ease: Elastic.easeOut
        });
    };

    // Add event listeners to each magnet element
    magnetElements.forEach((element) => {
        element.addEventListener('mouseenter', () => {
            element.addEventListener('mousemove', activateMagneto);
        });
        element.addEventListener('mouseleave', () => {
            element.removeEventListener('mousemove', activateMagneto);
            resetMagneto({ currentTarget: element });
        });
    });
</script>
<!-- 
    <div class="tech-dets">
        <div class="tech-dets-intro">
            <h2>
                Vue.js Development 
            </h2>
            <div class="flexing">
                <div class="flex-cont">
                    <p>
                        Fortress Data And Analytics offers scalable and robust Vue.js development services and solutions to a niche clientele, with industry segments belonging to various sizes. Vue.js being an open-source JS framework is utilized to create user interfaces with ease.
                    </p>
                    <a href="{{ url_for('contact') }}">
                        <button>
                            Get Started
                        </button>
                    </a>
                </div>
                <img src="{{ url_for('static', filename='landing/vue.png') }}" alt="">
            </div>
        </div>
        <div class="main-tech-dets-head">
            <h3>
                Our Vue JS Development Services
            </h3>
        </div>
        <div class="main-tech-dets">
            <div class="contents left">
                <h4>
                    <img src="{{ url_for('static', filename='services/Quick-Rendering-With-V-DOM-icon_ .png') }}" alt="">

                    Vue.js Consulting Services</h4>
                <p>We offer Vue.js consulting services refer to leverage Vue.js for web development projects. These services are designed to help clients make informed decisions, solve specific challenges, and optimize their use of Vue.js in their web applications. Thus, aim to accelerate the development process, enhance the quality of your Vue.js application.</p>

            </div>
            <div class="contents right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Routing-And-State-icon.png') }}" alt="">

                    Vue.js Web App Development</h4>
                <p>Our expert Vue.js developers help you develop web applications that are dynamic, interactive, and responsive for your small and large-scale web development projects.</p>

            </div>
            <div class="contents left">
                <h4>
                    <img src="{{ url_for('static', filename='services/Web-Apps-icon.png') }}" alt="">

                    Vue.js Custom Apps</h4>
                <p>The seasoned team at Fortress Data And Analytics helps you meet your requirements for any custom Vue.js development projects and develop web applications that are tailored to meet specific requirements and needs or require unique functionality and user experiences.</p>

            </div>
            <div class="contents right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Good-Development-icon.png') }}" alt="">

                    Vue.js Mobile App Development</h4>
                <p>Our Vue developers can help you in creating mobile applications for iOS and Android platforms using the Vue.js framework and related tools. We build dynamic, intuitive and feature rich mobile apps, which provide a interactive user-experience.</p>

            </div>
            <div class="contents left">
                <h4>
                    <img src="{{ url_for('static', filename='services/Migration-icon.png') }}" alt="">

                    Vue.js Migration Services</h4>
                <p>We help you to upgrade or migrate your existing Vue.js applications to newer versions of Vue.js or to resolve compatibility issues. Hence, ensuring that your Vue.js applications remain secure, performant, and compatible.</p>

            </div>
            <div class="contents right">
                <h4>
                    <img src="{{ url_for('static', filename='services/Excellent-User-Experience-icon.png') }}" alt="">

                    Vue.js Interactive UI Development</h4>
                <p>Our expert Vue.js developers help you create interactive user interfaces (UIs) for web applications using the Vue.js framework with a strong focus on creating engaging and dynamic user experiences allowing users respond to their actions in real-time, and provide a seamless and enjoyable user experience.</p>
            </div>
        </div>
    </div>
    <div class="contact">
        <img src="{{ url_for('static', filename='services/hire.png') }}" alt="">
        <h2>Contact Us</h2>
        <p>With a focus on keeping well-informed with the latest happenings in the world of IT, our core processes and execution methodologies are fully competent to implement best-in-class Vue.js application development solutions and services.</p>
        <a href="{{ url_for('contact') }}">
            <button>
                Connect With Us
            </button>
        </a>
    </div> -->
{% endblock %}