{% extends "base.html" %}
{% block title %}
    Mobile App Development Technologies
{% endblock %}
{% block content %}

<div class="land">
    <img src="{{ url_for('static', filename='landing/flutter.jpeg') }}" alt="">
    <div class="cont">
        <h1></h1>
        <h1>
            Flutter App Development 
        </h1>
        <p>
            Powered by Google, Flutter is an open-source UI framework to build native-like, flexible, and graphically-enhanced cross-platform apps for web, mobile, and desktop using a single codebase
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Get Started
            </button>
        </a>
    </div>
</div>

<div class="services-content">
    <div class="intro-cont">
            <h2>
                Flutter App Development Services
            </h2>
    </div>
    
    <div class="main-cont">
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/BI-Consulting-Services-Icon.png') }}" alt="">
                
                Flutter Consulting</h3>
            <p>Our Flutter consultants assist you in establishing the best roadmap and methodology for your project, by leveraging the goodness of Flutter, its architecture, and technical stack. We understand your ideas, evaluate existing setup, and offer a tailored plan for creating Flutter applications.</p>

        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/Custom-Mobile-App-Development-icon.png') }}" alt="">
                
                Flutter App Design</h3>
            <p>Designing robust, attractive, and fast Flutter applications is what our UI/UX designers aim at. We create visually attractive, easy-to-navigate, user-friendly interfaces and experiences that make the most of modern-day tools and techniques for coming up with a flexible design.</p>
        </div>
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/Mobile-App-Dev-Services.png') }}" alt="">
                
                Flutter App Development</h3>
            <p>Our service offerings consist of cross-platform app development, advanced and native app development, and enterprise app development, using the Flutter technology stack. Our developers come up with scalable, secure, and multi-platform mobile and web applications for a wide range of industry segments.</p>

        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/Migration-icon.png') }}" alt="">
                
                Flutter App Migration</h3>
            <p>We have a team of dedicated Flutter migration experts who can help migrate your current setup to Flutter or to the latest version of Flutter for better efficacy, performance, and security, with the least hassles and a seamless experience.</p>

        </div>
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/PWA-App-Development-icon.png') }}" alt="">
                
                Hire Flutter Developers</h3>
            <p>Our dedicated team of Flutter developers is experienced and well-versed in the nuances of good programming skills. Hire our Flutter programmers for creating modernized and robust Flutter-based mobile and web applications for any industry segment around the globe.</p>

        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/Application-Maintenance-Support.png') }}" alt="">
                
                Flutter App Support and Maintenance </h3>
            <p>Round-the-clock or 24*7 support and maintenance for the smooth execution of your Flutter apps is our forte. We have a specialized team of experts who monitor your applications and offer continuing technical aid to keep your applications execute smoothly.</p>
        </div>
    </div>
</div>

<div class="contact">
    <div class="polygon serv-poly">
        <div class="contact-head">
            <h1>
                Talk To Us
            </h1>
        </div>
    </div>
    <div class="contact-cont">
        <div class="main">
            <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
            <div class="content">
                <p>We create experiences that are loved by your end customers.</p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        Lets Discuss Your Project
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="land">
    <img src="{{ url_for('static', filename='landing/react.jpeg') }}" alt="">
    <div class="cont">
        <h1></h1>
        <h1>
            React Native App Development
        </h1>
        <p>
            React Native is a popular framework for building cross-platform mobile apps using JavaScript and React. It allows developers to write once and deploy on both iOS and Android.
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Get Started
            </button>
        </a>
    </div>
</div>

<div class="services-content">
    <div class="intro-cont">
            <h2>
                React Native Development
            </h2>
    </div>
    
    <div class="main-cont">
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/BI-Consulting-Services-Icon.png') }}" alt="">
                
                React Native Consulting</h3>
            <p>We design and develop high-performance React Native apps for Android and iOS platforms. Our React Native consulting helps businesses and large enterprises to leverage React Native for their app development requirement and choose the right tech stack for your project.</p>
        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/PHP-Development-icon.png') }}" alt="">
                
                Custom React Native Development</h3>
            <p>With decades-long experience and domain expertise, Fortress Data And Analytics is React Native app development company offering truly-native mobile experiences using a shared codebase. We listen to your ideas and create customized mobile apps using this open-source JavaScript platform.</p>
        </div><div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/Application-Maintenance-Support .png') }}" alt="">
                
                App Maintenance & Support</h3>
            <p>We offer 24*7 maintenance and support services for your React Native apps. Our React Native app developers are well-versed in various tools and technologies to consistently check for performance, security, issues, compliance, upgrades, and availability.</p>
        </div><div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/Migration-icon.png') }}" alt="">
                
                Integration and Migration</h3>
            <p>We help businesses migrate to React Native from their native environment to enjoy the benefits of cross-platform apps. Also, Our experienced team of React Native developers integrates React Native with existing apps as per requirements.</p>
        </div><div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/Web-Apps-icon.png') }}" alt="">
                
                React Native UI/UX</h3>
            <p>We craft consistent, smooth, and elegant designs using the latest tools and design thinking. We create intuitive and easy-to-use mobile apps using React Native. Our UI/UX design experts leverage various UI components and libraries to build engaging apps.</p>
        </div><div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/Cross-Platform-App-Development-icon.png') }}" alt="">
                
                Cross-platform App Development</h3>
            <p>We develop native-like apps using a cross-platform app development approach that enables time and cost savings. We ensure that apps or websites are well-built and as per the company’s needs. Grow your business and increase user engagement through cross-platform React Native apps</p>
        </div>
    </div>
</div>

<div class="contact">
    <div class="polygon serv-poly">
        <div class="contact-head">
            <h1>
                Talk To Us
            </h1>
        </div>
    </div>
    <div class="contact-cont">
        <div class="main">
            <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
            <div class="content">
                <p>We blend our years of experience and technical skills to provide the best user experience. We use battle-tested methodologies and industry best practices to develop mobile apps that are cross-platform compatible, robust, and secure.</p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        Lets Discuss Your Project
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
   

<div class="land">
    <img src="{{ url_for('static', filename='landing/kotlin.jpeg') }}" alt="">
    <div class="cont">
        <h1></h1>
        <h1>
            Kotlin App Development 
        </h1>
        <p>Kotlin application development services to Build Ultra-Modern, Scalable, And Secure Applications.</p>

        <a href="{{ url_for('contact') }}">
            <button>
                Get Started
            </button>
        </a>
    </div>
</div>

<div class="services-content">
    <div class="intro-cont">
            <h2>
                Kotlin App Development
            </h2>
    </div>
    
    <div class="main-cont">
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/Android-App-Development-icon.png') }}" alt="">
                
                Kotlin Android App Development</h3>
            <p>
                Build feature-reach, high-performant, cross-platform, and powerful Android apps using Kotlin, paired with secure coding practices and agile approach.
            </p>
        </div>
        <div class="contents right">
                 <img src="{{ url_for('static', filename='services/Web-Apps-icon.png') }}" alt="">
           <h3>


                Kotlin Web Development
            </h3>
            <p>
                With the ability to target JavaScript on both server-side and client-side, Kotlin.js makes web development easier and faster and can be integrated with existing third-party libraries and frameworks.
            </p>
        </div>
        <div class="contents left">
                 <img src="{{ url_for('static', filename='services/Migration-icon.png') }}" alt="">
           <h3>


                Migration To Kotlin
            </h3>
            <p>
                Avail greater benefits of concise code, optimized performance, safety, and interoperability by migrating your Android application to Kotlin with the help from our Kotlin experts.
            </p>
        </div>
        <div class="contents right">
                 <img src="{{ url_for('static', filename='services/Enterprise-Data-Management.png') }}" alt="">
           <h3>


                Server-side Development Using Kotlin
            </h3>
            <p>
                Kotlin is a good choice for developing server-side applications, offering scalability, interoperability, easy-to-use abstractions, and full compatibility with existing Java Stack.
            </p>
        </div>

    </div>
</div>

<div class="contact">
    <div class="polygon serv-poly">
        <div class="contact-head">
            <h1>
                Talk To Us
            </h1>
        </div>
    </div>
    <div class="contact-cont">
        <div class="main">
            <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
            <div class="content">
                <p>Our continuous-learning mindset and modern development approach help us to develop future-ready solutions with Kotlin in no time.</p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        Lets Discuss Your Project
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

    
    <!-- <div class="tech-dets">
        <div class="tech-dets-intro">
            <h2>Swift App Development</h2>
            <div class="flexing">
                <div class="flex-cont">
                    <p>Accelerate your business growth with modern, user-centric, and innovative iOS apps. Our superior Swift app development services will help your business gain a competitive edge in the market with iOS apps compatible with all Apple devices – iPad, iPhone, iPad, Apple TV, and Apple Watch. Unleash the power of Swift – a robust and intuitive programming language with our Swift app development services.</p>
            <a href="{{ url_for('contact') }}">
                <button>
                    Get Started
                </button>
            </a>
                </div>
                <img src="{{ url_for('static', filename='landing/swift.png') }}" alt="">
            </div>
        </div>
        <div class="main-tech-dets-head">
            <h3>
                Our Full Suite of Swift App Development Services
            </h3>
        </div>
        <div class="main-cont">
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/iOS-App-Development-icon.png') }}" alt="">
                    
                    Custom iOS Swift Development</h3>
                <p>
                    Swift Developers at Fortress Data And Analytics realize your business needs, ROI goals, and more to deliver bespoke custom Swift applications aligned with your desired results. Get one step closer to your long-term business goals with a custom iOS Swift app that exemplify optimal performance, intuitive UI, exceptional security, and more. Our Swift App Development services are suitable for various industries.
                </p>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/Custom-Mobile-App-Development-icon.png') }}" alt="">
                    
                    Enterprise application development</h3>
                <p>
                    Escalate your business growth by maximizing performance and return on investment with our enterprise application development services. We leverage Swift to build feature-rich, scalable, business-centric, user-oriented apps compatible with a wide range of Apple devices like Mac, iPhone, and iPad. Our developers are extensively equipped with tools and industry best practices to deliver high-end enterprise apps.
                </p>
            </div>
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/Migration-icon.png') }}" alt="">
                    
                    Swift App development</h3>
                <p>
                    Achieve your business goals with a high-end mobile application with a powerful backend coded in Swift programming language - an ideal choice for developing iOS applications. We have a dedicated team of iOS developers apt to develop intuitive, user-friendly, interactive, scalable, high-performing, feature-rich, and highly engaging Swift-based iOS apps that stands out in Apple App Store.
                </p>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/Product-Engineering-Services.png') }}" alt="">
                    
                    Game development</h3>
                <p>
                    Bring your creative idea to life with our game development service. Hire Swift developer to leave your mark in the iOS mobile game development industry. Our Swift developers are highly skilled and trained to develop exceptional quality games for mobile screens. Engage game enthusiasts with your creative game idea along with highly intuitive UI and seamless performance.
                </p>
            </div>
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/Efficient-Design-And-Developer-Tools-icon_.png') }}" alt="">
                    
                    Migration to Swift</h3>
                <p>
                    Fortress Data And Analytics is your one-stop destination for all migrating existing apps to Swift requirements. Get smooth migration of existing technology to Swift without impacting existing features and user experience to keep it running seamlessly on all Apple devices even after the migration with our migration to Swift service. Our Swift developers are skilled and experienced to migrate your app securely.
                </p>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/wearable-app.png') }}" alt="">
                    
                    Wearable Swift App development</h3>
                <p>
                    Leverage the futuristic technology and loyal user base for achieving your ROI goals with our iOS wearable app development services. Our swift developers are apt at delivering out-of-the-box wearable app development solutions compatible with the latest wearable Apple gadgets. We specialize in developing impeccable, high-performing, robust, feature-rich apps for Apple watches.
                </p>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/Multiple-Automated-Testing-Tools-icon-1.png') }}" alt="">
                    
                    Swift App Testing</h3>
                <p>
                    Don’t let bugs bite your app’s performance, we at Fortress Data And Analytics have a skilled and experienced QA team to provide top-of-the-class Swift app testing service to ensure extensive debugging. The team is equipped with the latest testing tools to execute thorough testing per the debugging requirements of the Swift app. We adopt industry best practices for defects, optimization, and debugging of the app.
                </p>
            </div>
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/Application-Maintenance-Support.png') }}" alt="">
                    
                    Support and Maintenance</h3>
                <p>
                    From updating your Swift application to the latest version to keeping up with the evolving demands of your consumers, our support and maintenance services cater to all app requirements post-deployment whether it is reducing downtime, seamless performance, app security, or relevant functionalities. We at Fortress Data And Analytics, go the extra mile to ensure the app is glitch-free after deployment.
                </p>
            </div>
        </div>
    </div> -->

    <div class="ind-land">
        <div class="polygon">
            <div class="ind-head">
                <h1>
                    Industries We Serve
                </h1>
            </div>
        </div>
        <div class="ind-cont">
            <div class="contents magnet">
                <a href="{{ url_for('fitness') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                    <h5>
                        Fitness
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('fintech') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                    <h5>
                        Fintech
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('education') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/education.png') }}">
                    <h5>
                        Education
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('healthcare') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                    <h5>
                        Healthcare
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('energy') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                    <h5>
                        Energy & Utilities
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                    <h5>
                        Travel & Hospitality
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('manufacturing') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                    <h5>
                        Manufacturing
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('adverts') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                    <h5>
                        Advertising
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('retail') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/retail.png') }}">
                    <h5>
                        Retail
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('entertain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                        <h5>
                            Media & Entertainment
                        </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('supplychain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                    <h5>
                        Supply Chain And Logistics
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                    <h5>
                        Life Science
                    </h5>
                </a>
            </div>  
        </div>
    </div>
    
    <script>
        // Select all .magnet and .text elements
        const magnetElements = document.querySelectorAll('.magnet');
        const magnetTextElements = document.querySelectorAll('.text');
    
        // Function to activate the magnetic effect on mouse move
        const activateMagneto = (event) => {
            const boundBox = event.currentTarget.getBoundingClientRect();
            const magnetoStrength = 40;
            const magnetoTextStrength = 300;
            const newX = ((event.clientX - boundBox.left) / event.currentTarget.offsetWidth) - 0.5;
            const newY = ((event.clientY - boundBox.top) / event.currentTarget.offsetHeight) - 0.5;
    
            // Move the current magnet element
            gsap.to(event.currentTarget, {
                duration: 1,
                x: newX * magnetoStrength,
                y: newY * magnetoStrength,
                ease: Power4.easeOut
            });
    
            // Move the corresponding text element
            const textElement = event.currentTarget.querySelector('.text');
            gsap.to(textElement, {
                duration: 1,
                x: newX * magnetoTextStrength,
                y: newY * magnetoTextStrength,
                ease: Power4.easeOut
            });
        };
    
        // Function to reset the magnetic effect on mouse leave
        const resetMagneto = (event) => {
            // Reset the position of the magnet and the text
            gsap.to([event.currentTarget, event.currentTarget.querySelector('.text')], {
                duration: 1,
                x: 0,
                y: 0,
                ease: Elastic.easeOut
            });
        };
    
        // Add event listeners to each magnet element
        magnetElements.forEach((element) => {
            element.addEventListener('mouseenter', () => {
                element.addEventListener('mousemove', activateMagneto);
            });
            element.addEventListener('mouseleave', () => {
                element.removeEventListener('mousemove', activateMagneto);
                resetMagneto({ currentTarget: element });
            });
        });
    </script>
{% endblock %}