{% extends "base.html" %}
{% block title %}
    Hire BI Developer
{% endblock %}
{% block content %}
<div class="land">
    <img src="{{ url_for('static', filename='landing/bi.jpeg') }}" alt="">
    <div class="cont">
        <h1></h1>
        <h1>
            Hire BI Developer
        </h1>
        <p>
            Hire top-quality Power BI developers to harness the power of data analytics for business growth. 
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Consult Our Expert
            </button>
        </a>
    </div>
</div>

<div class="serv-land">
    <div class="polygon serv-poly">
        <div class="serv-land-head">
            <h1>
                Our Power BI Consultant's Expertise
            </h1>
        </div>
    </div>
    <div class="serv-land-cont">
        <div class="races">
            <div class="card">
                <h2>
                    Power BI Strategy & Consultation
                </h2>
                <p>
                    We have skilled power BI developers who craft proven data analysis strategies after realizing your unique data visual requirements to enable your business to have access to required data insights through reports and interactive dashboards for achieving long-time business goals.
                </p>
            </div>
            <div class="card">
                <h2>
                    Power BI Customization
                </h2>
                <p>
                    Meet each user or business objective of data visualization and analytics with custom interactive dashboards. Hire Power BI developer to get a customized detailed single view of your business insights for your managerial users. We enable businesses to take informed decisions through custom visuals.
                </p>
            </div>
            <div class="card">
                <h2>
                    Power BI Reports & Dashboards
                </h2>
                <p>
                    Get dashboards and reports telling a credible tale with SPEC INDIA. Hire Power BI developers to develop integrative dashboards or custom/pre-built visuals aligning with your data visualization requirements. We also create paginated, embedded, enterprise-wide, or ad hoc reports to provide valuable insights.
                </p>
            </div>
            <div class="card">
                <h2>
                    Power BI Implementation
                </h2>
                <p>
                    Our highly skilled Power BI developers would plan, create, implement, and fine-tune Power BI solutions without impacting your current business analytics logic. We also ensure to customize the matrices to deliver desired data visualization requirements to drive a tangible data analytics experience.
                </p>
            </div>
            <div class="card">
                <h2>
                    Power BI Migration Services
                </h2>
                <p>
                    Hire Power BI developers to get assuring of seamless transfer of business data from various business intelligence tools to Power BI without any data corruption or loss of data. Our Power BI developers would make sure that the data visualization is aligned with your requirements after migration.
                </p>
            </div>
            <div class="card">
                <h2>
                    Power BI Advanced Analytics
                </h2>
                <p>
                    Steer exponential business growth with analytical methodologies filtering data noise. Hire Power BI developers to achieve advanced analytics in Power BI. Our Power BI consultants would assist with predictive analysis, data modeling, quick insights, or real-time data analytics.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="other">
</div>
<div class="other">
</div>
<div class="other3">
</div>

<div class="services-content">
    <div class="intro-cont">
            <h2>
                Steps to Hire Backend Developers from Fortress Data And Analytics
            </h2>
    </div>
    <div class="main-cont">
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/hire_1.png') }}" alt="">
                Post Your Inquiry
            </h3>

        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/hire_4.png') }}" alt="">
    
                Interview
            </h3>
        </div>
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/hire_3.png') }}" alt="">

                Engagement Terms
            </h3>
        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/hire_2.png') }}" alt="">

                Get Started
            </h3>
        </div>
    </div>
</div>


<div class="services-technologies hire">
    <h2>
        Technologies
    </h2>
    <button>
        <img src="{{ url_for('static', filename='services/Power-BI-Logo.png') }}"><br>
        Power BI Desktop
    </button>
    <button>
        <img src="{{ url_for('static', filename='services/bi-server.jpg') }}"><br>
        Power BI Report Server
    </button>
    <button>
        <img src="{{ url_for('static', filename='services/data-source.png') }}"><br>
        Data Source
    </button>
    <button>
        <img src="{{ url_for('static', filename='services/bi-query.jpg') }}"><br>
        Power BI Query
    </button>
</div>

<div class="contact">
    <div class="polygon serv-poly">
        <div class="contact-head">
            <h1>
                Hire a BI developer
            </h1>
        </div>
    </div>
    <div class="contact-cont">
        <div class="main">
            <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
            <div class="content">
                <p>
                    We can help achieve business goals rapidly with a dedicated team of Power BI consultants. Drop us your requirements and we assure to find Power BI resources matching your criteria.
                </p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        Hire Bi Developer
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="ind-land">
    <div class="polygon">
        <div class="ind-head">
            <h1>
                Industries We Serve
            </h1>
        </div>
    </div>
    <div class="ind-cont">
        <div class="contents magnet">
            <a href="{{ url_for('fitness') }}" class="text">
                <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                <h5>
                    Fitness
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('fintech') }}" class="text">
                <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                <h5>
                    Fintech
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('education') }}" class="text">
                <img src="{{ url_for('static', filename='industries/education.png') }}">
                <h5>
                    Education
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('healthcare') }}" class="text">
                <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                <h5>
                    Healthcare
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('energy') }}" class="text">
                <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                <h5>
                    Energy & Utilities
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('travel') }}" class="text">
                <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                <h5>
                    Travel & Hospitality
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('manufacturing') }}" class="text">
                <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                <h5>
                    Manufacturing
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('adverts') }}" class="text">
                <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                <h5>
                    Advertising
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('retail') }}" class="text">
                <img src="{{ url_for('static', filename='industries/retail.png') }}">
                <h5>
                    Retail
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('entertain') }}" class="text">
                <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                    <h5>
                        Media & Entertainment
                    </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('supplychain') }}" class="text">
                <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                <h5>
                    Supply Chain And Logistics
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('travel') }}" class="text">
                <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                <h5>
                    Life Science
                </h5>
            </a>
        </div>  
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/@studio-freight/lenis@1.0.39/dist/lenis.min.js"></script> 
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}