{% extends "base.html" %}
{% block title %}
    Hire Fullstack Developers
{% endblock %}
{% block content %}
<main class="main-services hiring">
    <div class="land">
        <img src="{{ url_for('static', filename='landing/full.jpeg') }}" alt="">
        <div class="cont">
            <h1></h1>
            <h1>
                Hire Full Stack Developer
            </h1>
            <p>
                At Fortress Data And Analytics, our full stack developers for hire are well-skilled in most modern programming languages and frameworks, for building innovative web and mobile applications for organizations worldwide. Hire full stack developers from us to avail yourself of an unparalleled experience in terms of optimal features and functionalities. As a renowned and experienced full stack development company our service offerings include frontend, backend, database management, and everything needed for a comprehensive development setup.
            </p>
            <a href="{{ url_for('contact') }}">
                <button>
                    Hire Fullstack Developers
                </button>
            </a>
        </div>
    </div>

    <div class="serv-land">
        <div class="polygon serv-poly">
            <div class="serv-land-head">
                <h1>
                    Hire Fullstack Developers!
                </h1>
            </div>
        </div>
        <div class="serv-land-cont">
            <div class="races">
                <div class="card">
                    <h2>
                        Full Stack App Development
                    </h2>
                    <p>
                        Our developers possess expertise in all-inclusive full stack application development across varied industry segments. It includes microservices, server authentication, continuous integration, and continuous testing. Our taskforce has proficiency in development and API tools that are a must for exhaustive full stack applications. Our full stack solutions include the frontend and backend functioning with total focus towards fulfilling organizational goals.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        Front End Full Stack Development
                    </h2>
                    <p>
                        We design effective user interfaces through modular, object oriented frontend programming. You can create a functional frontend framework as you hire dedicated full stack developers from us. Our expert team of frontend developers are well-versed with cutting-edge technologies like React.js, Anguar.js, Vue.js, JavaScript, HTML, CSS. Their sole focus is to offer a client centric frontend design with optimal quality and performance.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        Back End Full Stack Development
                    </h2>
                    <p>
                        At Fortress Data And Analytics, we have a robust team of backend developers who understand the nitty-gritties of database management, to a detailed level, for web and mobile applications. Our database experts have in depth knowhow about relational and non-relational databases along with creating backend APIs and system integration. Our developers follow the best coding practices with technologies like Laravel, Node.js, .NET, Python, Java.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        Full Stack Cloud Application Development
                    </h2>
                    <p>
                        We create exemplary web and SaaS applications for deploying, managing and executing full stack cloud applications that assist in boosting productivity and enhancing client relations. Our technology experts realize the huge potential of the cloud and ensure best usage of cloud-based services, components and practices while creating applications with maximization of revenue, ease of infrastructure, authentication and encryption.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        Full Stack Web Development
                    </h2>
                    <p>
                        Creating and implementing distinctive web applications belonging to varied domains, industry segments and segments is our forte. Our skilled web developers unlock the potential of latest web related technologies and ensure your web applications garner maximum attention on the digital front. Getting a web application constructed by us is all the worth when you hire a full stack web developer from us.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        Full Stack Upgradation and Migration
                    </h2>
                    <p>
                        Being an experienced full stack development company, we understand and analyze the intricacies of upgradation and migration services. As you enjoy the benefits of our full stack developer for hire, we assure you of industry specific best practices while moving to a full stack architecture. Our taskforce ensures complete visibility, enhanced user experience and undisturbed workflow as you move onto the new system.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="other">
    </div>
    <div class="other">
    </div>
    <div class="other3">
    </div>
    
   <div class="services-content">
        <div class="intro-cont">
                <h2>
                    Steps to Hire Dedicated Developers from Fortress Data And Analytics
                </h2>
        </div>
        <div class="main-cont">
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_1.png') }}" alt="">
                    Post Your Inquiry
                </h3>

            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_4.png') }}" alt="">
     
                    Interview
                </h3>
            </div>
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_3.png') }}" alt="">

                    Engagement Terms
                </h3>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_2.png') }}" alt="">

                    Get Started
                </h3>
            </div>
        </div>
   </div>
    
    <div class="services-technologies hire">
        <h2>
            Technologies
        </h2>
        <button>
            <img src="{{ url_for('static', filename='services/JavaScript-Logo.png') }}"><br>
            JavaScript
        </button>
        <button>
            <img src="{{ url_for('static', filename='services/Python-Logo.png') }}"><br>
            Python
        </button>
        <button>
            <img src="{{ url_for('static', filename='services/cplus.png') }}"><br>
            C++
        </button>
        <button>
            <img src="{{ url_for('static', filename='services/JAVA-Logo.png') }}"><br>
            Java
        </button>
    </div>

    <div class="contact">
        <div class="polygon serv-poly">
            <div class="contact-head">
                <h1>
                    Hire a Fullstack Developer
                </h1>
            </div>
        </div>
        <div class="contact-cont">
            <div class="main">
                <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
                <div class="content">
                    <p>
                        Look No Further. Hire dedicated full stack developers from us and fulfil your IT needs.
                    </p>
                    <a href="{{ url_for('contact') }}">
                        <button>
                            Hire Fullstack Developer
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ind-land">
        <div class="polygon">
            <div class="ind-head">
                <h1>
                    Industries We Serve
                </h1>
            </div>
        </div>
        <div class="ind-cont">
            <div class="contents magnet">
                <a href="{{ url_for('fitness') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                    <h5>
                        Fitness
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('fintech') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                    <h5>
                        Fintech
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('education') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/education.png') }}">
                    <h5>
                        Education
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('healthcare') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                    <h5>
                        Healthcare
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('energy') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                    <h5>
                        Energy & Utilities
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                    <h5>
                        Travel & Hospitality
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('manufacturing') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                    <h5>
                        Manufacturing
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('adverts') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                    <h5>
                        Advertising
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('retail') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/retail.png') }}">
                    <h5>
                        Retail
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('entertain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                        <h5>
                            Media & Entertainment
                        </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('supplychain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                    <h5>
                        Supply Chain And Logistics
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                    <h5>
                        Life Science
                    </h5>
                </a>
            </div>  
        </div>
    </div>
</main>
{% endblock %}