{% extends "base.html" %}
{% block title %}
    Hire Mobile Developers
{% endblock %}
{% block content %}
<main class="main-services hiring">
    <div class="land">
        <img src="{{ url_for('static', filename='landing/mobile.jpeg') }}" alt="">
        <div class="cont">
            <h1></h1>
            <h1>
                Hire Mobile Developer
            </h1>
            <p>
                Mobile apps are an indispensable ingredient for today’s businesses to stay connected and be successful. As a skilled mobile app development company,Fortress Data And Analytics has an apt resource pool that offers mobile app development services, from where you can hire mobile app developers. Our competent mobile app development team is well-versed in building creative and robust mobile apps that can attract users. Hire mobile app developer from us to enjoy optimal standards of quality, performance, and security with the perfect blend of technical proficiency, market intelligence, and business insight.
            </p>
            <a href="{{ url_for('contact') }}">
                <button>
                    Hire Mobile Developers
                </button>
            </a>
        </div>
    </div>

    <div class="serv-land">
        <div class="polygon serv-poly">
            <div class="serv-land-head">
                <h1>
                    Our Mobile App Development Services
                </h1>
            </div>
        </div>
        <div class="serv-land-cont">
            <div class="races">
                <div class="card">
                    <h2>
                        Custom Mobile App Development
                    </h2>
                    <p>
                        Get your mobile app developed by our skilled taskforce. Experience the technical benefits of our mobile app developer for hire and transform your ideas into reality. The detailed expertise, in depth technological knowledge and industry wide domain experience that our designers and developers possess are reflected in the flexible and tailormade mobile app development that is specifically done for your customized needs.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        Cross Platform App Development
                    </h2>
                    <p>
                        We offer exceptional cross platform app development services through which you can simplify the entire app development process and create a single codebase for various platforms. Our app developers for hire are experts in leveraging intricacies of popular technologies like Flutter, React Native etc. They ensure lesser costs and go-to-market time by using the advantages of cross platform mobile app development.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        iOS App Development
                    </h2>
                    <p>
                        Our iOS app development team is well versed with intricacies of the technology and launching of applications in the play store. Hire mobile app developers from us to leverage various arms of iOS based functionalities and create a personalized experience that can fetch increased productivity and profitability. Make process of making iOS applications easy for iPhone, iPad, and iPod Touch etc.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        Android App Development
                    </h2>
                    <p>
                        Our Android app development services are robust and offer creation of Android apps with an excellent team of developers, designers, and testers. We make the best use of technologies like Kotlin and Java and master the knowledge and skills necessary to attract more clients, increase visibility and enhance growth. To hire mobile app developer from us will lead to enormous benefits.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        Hybrid App Development
                    </h2>
                    <p>
                        We possess expertise in taking the best of two worlds – web applications and native technologies to come up with hybrid applications that can save on time and resources. Hire a mobile app developer to create hybrid mobile apps that are compatible across different platforms and devices. The apps are created with web technologies like HTML, CSS, JavaScript and enclosed into specified native app wrappers.
                    </p>
                </div>
                <div class="card">
                    <h2>
                        PWA App Development
                    </h2>
                    <p>
                        Progressive web applications are a cutting edge technology consisting of a set of ideal practices for creating a web app function similarly to a mobile app. We create user friendly, responsive, and good quality web apps that provide tailored experience and cross platform interoperability across platforms. Our developers take the best of the web and mobile world for developing applications.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="other">
    </div>
    <div class="other">
    </div>
    <div class="other3">
    </div>
    
   <div class="services-content">
        <div class="intro-cont">
                <h2>
                    Steps to Hire Dedicated Developers from Fortress Data And Analytics
                </h2>
        </div>
        <div class="main-cont">
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_1.png') }}" alt="">
                    Post Your Inquiry
                </h3>

            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_4.png') }}" alt="">
     
                    Interview
                </h3>
            </div>
            <div class="contents left">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_3.png') }}" alt="">

                    Engagement Terms
                </h3>
            </div>
            <div class="contents right">
                <h3>
                    <img src="{{ url_for('static', filename='services/hire_2.png') }}" alt="">

                    Get Started
                </h3>
            </div>
        </div>
   </div>

    <div class="contact">
        <div class="polygon serv-poly">
            <div class="contact-head">
                <h1>
                    Hire a Mobile Developer
                </h1>
            </div>
        </div>
        <div class="contact-cont">
            <div class="main">
                <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
                <div class="content">
                    <p>
                        Your Search Is Over. Leverage our 'Hire a Mobile App Developer’ service and attain optimal results.
                    </p>
                    <a href="{{ url_for('contact') }}">
                        <button>
                            Hire Mobile Developer
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ind-land">
        <div class="polygon">
            <div class="ind-head">
                <h1>
                    Industries We Serve
                </h1>
            </div>
        </div>
        <div class="ind-cont">
            <div class="contents magnet">
                <a href="{{ url_for('fitness') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                    <h5>
                        Fitness
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('fintech') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                    <h5>
                        Fintech
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('education') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/education.png') }}">
                    <h5>
                        Education
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('healthcare') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                    <h5>
                        Healthcare
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('energy') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                    <h5>
                        Energy & Utilities
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                    <h5>
                        Travel & Hospitality
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('manufacturing') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                    <h5>
                        Manufacturing
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('adverts') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                    <h5>
                        Advertising
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('retail') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/retail.png') }}">
                    <h5>
                        Retail
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('entertain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                        <h5>
                            Media & Entertainment
                        </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('supplychain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                    <h5>
                        Supply Chain And Logistics
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                    <h5>
                        Life Science
                    </h5>
                </a>
            </div>  
        </div>
    </div>
</main>
{% endblock %}