{% extends 'base.html' %}
{% block title %}
    Advertisement Industry
{% endblock %}
{% block content %}
<main class="ind">
    <div class="land">
        <img src="{{ url_for('static', filename='landing/anim_animation.gif') }}" alt="">
        <div class="cont">
            <h1></h1>
            <h1>
                A Trusted Digital Partner For Advertising Software
            </h1>
            <p>
                Enhance your business with top-tier Software for the Advertising Industry – blending creativity with Strategy. We comprehend the needs of the industry and deliver premier advertising management software for advertising agencies, aiding enterprises in significantly boosting productivity and profitability. Our adept team of professionals possesses profound knowledge of the advertising industry, crafting solutions that streamline continuous collaboration among organizational departments and enhance business process efficiencies.
            </p>
            <a href="{{ url_for('contact') }}">
                <button>
                    Consult Our Expert
                </button>
            </a>
        </div>
    </div>

    <div class="ind-sol">
        <div class="ind-sol-intro">
            <div class="polygon">
                <div class="head">
                    <h1>
                        Our Expertise in Advertising Management Software
                    </h1>
                </div>
            </div>
            <p>
                Our suite of business software systems empowers brands and marketing agencies at every stage of the marketing cycle. With a focus on resource planning, management, and operational control across different departments, our diverse software modules cater to specific operational areas, integrated seamlessly through intermediate modules.
            </p>
        </div>
        <div class="ind-sol-main">
            <div class="content left">
                <h3>
                    Software Solutions for Advertising Industry
                </h3>
                <p>
                    Addressing the ever-evolving demands, our robust advertising Industry software ensures alignment with customer requirements, innovation, and industry modernization. Our solutions enable online stakeholders and advertising companies to achieve business objectives, acquire new clients, and efficiently manage advertising campaigns, facilitating effective campaign evaluation.
                </p>
            </div>
            <div class="content center">
                <h3>
                    Custom Software for Advertisement Management
                </h3>
                <p>
                    Our suite of business software systems empowers brands and marketing agencies at every stage of the marketing cycle. With a focus on resource planning, management, and operational control across different departments, our diverse software modules cater to specific operational areas, integrated seamlessly through intermediate modules.
                </p>
            </div>
            <div class="content right">
                <h3>
                    Beacon Based Advertisement System
                </h3>
                <p>
                    Our beacon-based advertising solution stands out as one of the most comprehensive solutions, leveraging proximity marketing integrated seamlessly with beacon support. It delivers unparalleled precision and quality, offering significant value to the advertising industry.
                </p>
            </div>
            <div class="content left">
                <h3>
                    Enterprise Mobility Solution
                </h3>
                <p>
                    Our enterprise mobility solutions for advertising enable organizations to advertise on mobile devices, manage mobile ads including banners and video ads, and enhance brand awareness and customer reach.
                </p>
            </div>
            <div class="content center">
                <h3>
                    Advertisement Analytics Solutions
                </h3>
                <p>
                    Our comprehensive data analytics platform provides insightful data for evaluating advertising effectiveness, optimizing advertising channels and strategies for maximum impact.
                </p>
            </div>
            <div class="content right">
                <h3>
                    Advertisement Mobile Apps
                </h3>
                <p>
                    Our advertisement mobile apps offer instant access to ads across various genres, facilitating quick user action. As part of cross-channel advertising, they encompass social media, endorsements, and audio and video channels.
                </p>
            </div>
            
        </div>
    </div>

    <div class="contact">
        <div class="polygon serv-poly">
            <div class="contact-head">
                <h1>
                    Hire The Best Talent That Meet Your Needs
                </h1>
            </div>
        </div>
        <div class="contact-cont">
            <div class="main">
                <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
                <div class="content">
                    <p>
                        Today's advertising industry demands thorough understanding of customer needs, logical thinking, innovation, and optimal utilization of IT potential. Fortress Data And Analytics' advertising software solutions empower online stakeholders and advertising companies to achieve business objectives, acquire new clients, and efficiently manage advertising campaigns, facilitating effective campaign evaluation.
                    </p>
                    <a href="{{ url_for('contact') }}">
                        <button>
                            Lets Discuss Your Project
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ind-land">
        <div class="polygon">
            <div class="ind-head">
                <h1>
                    Technologies And Platform We Use
                </h1>
            </div>
        </div>
        <div class="ind-cont">
            <div class="contents magnet">
                <a href="" class="text">
                    <img src="{{ url_for('static', filename='services/React-Logo.png') }}" alt="">
                    <h5>
                        React
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="" class="text">
                    <img src="{{ url_for('static', filename='services/plat1.png') }}" >
                    <h5>
                        JavaScript
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('education') }}" class="text">
                    <img src="{{ url_for('static', filename='services/Angular-Logo.png') }}" width="70">
                    <h5>
                        Angular
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="" class="text">
                    <img src="{{ url_for('static', filename='services/plat4.png') }}" width="70">
                    <h5>
                        Vuejs
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="" class="text">
                    <img src="{{ url_for('static', filename='services/NET-Logo.png') }}" alt="">
                    <h5>
                        .NET
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="" class="text">
                    <img src="{{ url_for('static', filename='services/Power-BI-Logo.png') }}" alt="">
                    <h5>
                        Power BI
                    </h5>
                </a>
            </div>
    
        </div>
    </div>

    <div class="hire">
        <div class="polygon">
            <div class="head">
                <h1>
                    Need a Customized Advertising Software Solution for your business?
                </h1>
            </div>
        </div>
    
        <div class="cont-polygon">
            <div class="ind-hire">
                <div class="img">
                    <img src=" {{ url_for('static', filename='contact/looking.png') }} " alt="">
                    <img src=" {{ url_for('static', filename='contact/looking2.png') }} " alt="">
                </div>
                <p>
                    Our custom software developers have an extensive service portfolio to tailor your advertising software solution according to business requirements.
                </p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        <p>
                            Connect With Us
                        </p>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <script>
        // Select all .magnet and .text elements
        const magnetElements = document.querySelectorAll('.magnet');
        const magnetTextElements = document.querySelectorAll('.text');
    
        // Function to activate the magnetic effect on mouse move
        const activateMagneto = (event) => {
            const boundBox = event.currentTarget.getBoundingClientRect();
            const magnetoStrength = 40;
            const magnetoTextStrength = 300;
            const newX = ((event.clientX - boundBox.left) / event.currentTarget.offsetWidth) - 0.5;
            const newY = ((event.clientY - boundBox.top) / event.currentTarget.offsetHeight) - 0.5;
    
            // Move the current magnet element
            gsap.to(event.currentTarget, {
                duration: 1,
                x: newX * magnetoStrength,
                y: newY * magnetoStrength,
                ease: Power4.easeOut
            });
    
            // Move the corresponding text element
            const textElement = event.currentTarget.querySelector('.text');
            gsap.to(textElement, {
                duration: 1,
                x: newX * magnetoTextStrength,
                y: newY * magnetoTextStrength,
                ease: Power4.easeOut
            });
        };
    
        // Function to reset the magnetic effect on mouse leave
        const resetMagneto = (event) => {
            // Reset the position of the magnet and the text
            gsap.to([event.currentTarget, event.currentTarget.querySelector('.text')], {
                duration: 1,
                x: 0,
                y: 0,
                ease: Elastic.easeOut
            });
        };
    
        // Add event listeners to each magnet element
        magnetElements.forEach((element) => {
            element.addEventListener('mouseenter', () => {
                element.addEventListener('mousemove', activateMagneto);
            });
            element.addEventListener('mouseleave', () => {
                element.removeEventListener('mousemove', activateMagneto);
                resetMagneto({ currentTarget: element });
            });
        });
    </script>
</main>
{% endblock %}