{% extends 'base.html' %}
{% block title %}
    Privacy Policy
{% endblock %}
{% block content %}
<main class="policy">
    <div class="polygon">
        <div class="head">
            <h1>
                Privacy Policy          
            </h1>
        </div>
    </div>
    <p>
        Fortress Data And Analytics has created this privacy statement to demonstrate our firm’s commitment to privacy. We understand you trust us with your personal information and we have the best security measures in place to protect against the loss, misuse, and alteration of the information provided.
    </p>
    <h2>
        Personal information.
    </h2>
    <p>
        You can visit Fortress Data And Analytics on the Internet without revealing any information about yourself. The website collects only the information which is volunteered by the site such as feedback and the e-mail addresses of those who communicate with us via e-mail. To give relevant content based on your preferences, we may need to ask your personal information:
    </p>
    <ul>
        <li>Full Name</li>
        <li>Email ID</li>
        <li>Telephone Number</li>
    </ul>
    <p>
        In case you do not provide your personal information, we may not be able to serve your request. Please be rest assured that Fortress Data And Analytics does not utilize personal information to take automatic decisions
    </p>
    <h2>
        Disclosure Of Personal Information
    </h2>
    <p>
        Fortress Data And Analytics does not share your personal information with third parties for any purpose without seeking your prior permission. We will seek your consent prior to using or sharing your personal information for any purpose beyond the requirement for which it was originally collected. We may share your personal information within the organization for data processing, storage, or to provide a requested service or transaction, after ensuring that such entities are contractually bound by data privacy obligations.
    </p>
    <h2>
        Specific Categories Of Personal Information
    </h2>
    <p>
        Fortress Data And Analytics does not ask for the below listed delicate information unless needed by the law such as in the event of a court case.
    </p>
    <ul>
        <li>Racial information</li>
        <li>Political / Religious / Philosophical views</li>
        <li>Genetic or biometric information</li>
        <li>Health / Mortality / Sex-related information</li>
    </ul>
    <h2>
        Data Security, Retention, And Usage Of Cookies
    </h2>
    <p>
        Fortress Data And Analytics follows required appropriate security, administrative measures and processes that are a must to take care and guard your personal information. Fortress Data And Analytics  may retain your personal information if there is a business requirement, or if otherwise required under applicable laws. If you register yourself with any of our units online, a technology namely cookies may be used to provide you with information. A cookie is a small data element which a website can send to your browser, which will be stored on your hard drive so that it can be recognized when you return. Registering online with any of our services shows your assertive consent to receive such cookies.
    </p>
    <h2>
        Third Party Sites
    </h2>
    <p>
        Regarding the links to other sites, Fortress Data And Analytics is not responsible for the privacy practices or the content of such websites. This Privacy/Security statement does not apply to any third-party websites that are linked from this website. Even third-party logos, brands & names used on this website are the property of their respective owners. Fortress Data And Analytics will not share your personal information with third parties for marketing purposes, without your prior consent. We may provide links to third-party websites and services. However, we are not responsible for the privacy statements, practices or the contents of such third-party websites.
    </p>
    <h2>
        Data Breach
    </h2>
    <p>
        In case of any data breach of personal information/website’s database / third-party data, processors is apparent, we will, within 72 hours, inform to all relevant authorities about the same.
    </p>
    <h2>
        Updating This Privacy Policy.
    </h2>
    <p>
        Fortress data And Analytics reserves the right to change, modify, or update this statement at any time. In case of any change, it will be marked on the top of the privacy policy page with a revised last updated date. In case of material changes, we will inform you through email or a notice on the home page of our website.. If you have any questions about this privacy statement, the practices of this site, or your dealings with this website, you can contact <a href="mailto:info@fortress.co.ke">info@fortress.co.ke</a> All other trademarks and logos belong to their respective owners. All rights reserved.
    </p>
</main>
{% endblock %}