{% extends "base.html" %}
{% block title %}
    Our Team
{% endblock %}
{% block content %}
<div class="about-head">
    <h1>
        About Us
    </h1>
</div>
<div class="about-team">
    <div class="about-list">
        <div class="team ceo">
            <img src="{{ url_for('static', filename='about/ceo.png') }}"/>
            <div class="intro">
                <div class="team-content">
                    <div class="title">
                        <h2>
                            Our Ceo
                        </h2>
                    </div>
                    <div class="des">
                        <p>
                            CPA (k), B.Com, BBIT, Bsc - Software Engineering, Certified Sage Evolution Consultant and 11+ years’ experience in implementing financial management systems, Practical experience in working with Manufacturing, Sales and Distribution Industries.
                        </p>
                    </div>
                    <div class="get-started">
                        <a href="{{ url_for('contact') }}"><button>Get Started</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="team our">
            <img src="{{ url_for('static', filename='about/team.png') }}"/>
           <div class="intro">
            <div class="team-content">
                <div class="title">
                    <h2>
                        Our Team
                    </h2>
                </div>
                <div class="des">
                    <p>
                        Collaborative minds driving data excellence. Our diverse team synergizes analytics prowess, transforming raw data into actionable insights. Together, we redefine possibilities in the data landscape.
                    </p>
                    <p>
                        We are located at Empress Towers, Lipro Office Suites, Jalaram Rd
                    </p>
                </div>
                <div class="get-started">
                    <a href="https://www.google.com/maps/place/Fortress+Data+and+Analytics/@-1.2581639,36.8036771,17z/data=!3m1!4b1!4m6!3m5!1s0x182f1711b717afcd:0x2711a49b1cd18c1d!8m2!3d-1.2581639!4d36.806252!16s%2Fg%2F11t1lq6v7f?entry=ttu"><img src="{{ url_for('static', filename='maps.png') }}" alt=""></a>
                </div>

            </div>
           </div>
        </div>                
    </div>

    <div class="team-arrow">
        <button id="team-prev"><</button>
        <button id="team-next">></button>
    </div>
</div>


<!--About team-->
<script>
    let nextButton = document.getElementById('team-next');
    let prevButton = document.getElementById('team-prev');
    let carousel = document.querySelector('.about-team');
    let listHTML = document.querySelector('.about-team .about-list');

    nextButton.onclick = function() {
        showSlider('team-next');
    }
    prevButton.onclick = function() {
        showSlider('team-prev');
    }

    let unAcceptClick;
    const showSlider = (type) => {
        nextButton.style.pointerEvents = 'none';
        prevButton.style.pointerEvents = 'none';

        carousel.classList.remove('team-prev', 'team-next');
        let items = document.querySelectorAll('.about-team .about-list .team');
        if(type === 'team-next'){
            listHTML.appendChild(items[0]);
            carousel.classList.add('team-next');
        }
        else {
            let positionlast = items.length - 1;
            listHTML.prepend(items[positionlast]);
            carousel.classList.add('team-prev');
        }

        clearTimeout(unAcceptClick);
        unAcceptClick = setTimeout(() => {
            nextButton.style.pointerEvents = 'auto';
            prevButton.style.pointerEvents = 'auto';
        }, 2000);
    }
</script>
<!--Slides fuction-->
<script>
    let counter = 1;
    let intervalId;

    function startAutomaticSlide() {
        intervalId = setInterval(function () {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 7) {
                counter = 1;
            }
        }, 5000);
    }

    function stopAutomaticSlide() {
        clearInterval(intervalId);
        intervalId = null; // Reset intervalId
    }

    // Start automatic slide change initially
    startAutomaticSlide();

    // Toggle automatic slide change on button click
    document.querySelector('.navigation-manual').addEventListener('click', function () {
        if (intervalId) {
            // If intervalId is set, automatic slide change is active, so stop it
            stopAutomaticSlide();
        } else {
            // If intervalId is not set, automatic slide change is not active, so start it
            startAutomaticSlide();
        }
    });
</script>
{% endblock %}