{% extends "base.html" %}
{% block title %}
    Data Visualization Services
{% endblock %}
{% block content %}
<div class="land">
    <img src="{{ url_for('static', filename='landing/visualiz.jpeg') }}" alt="">
    <div class="cont">
        <h1></h1>
        <h1>
            Data Visualization Services
        </h1>
        <p>
            Partner with Fortress Data And Analytics for high-volume data visualization services. Transform your enterprise into a data-led business with interactive dashboards, enabling actionable insights. Redefine growth by finely visualizing and analyzing data, shaping your next business move effectively.
        </p>
        <a href="{{ url_for('contact') }}">
            <button>
                Data Visualization Consultant
            </button>
        </a>
    </div>
</div>

<div class="services-content">
    <div class="intro-cont">
        <h2>
            Our Data Visualization Services
        </h2>
        <p>
            Make the most of your data silos by unlocking different ways of data visualization and analysis to achieve your business goals. our extensive data visualization consulting services enable us to convert raw data into comprehensible formats regardless of data type. Declutter huge volumes of data for better monitoring, prediction, and opportunity realization to enhance the decision-making process.
        </p>
    </div>
    <div class="main-cont">
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/BI-Consulting-Services-Icon.png') }}" alt="">
                Interactive BI Applications
            </h3>
            <p>
                Centralize and transform your data storage for better data collection, analysis, and sharing with our business intelligence app development services. Our BI app development specialists offer data visualization consulting for interactive app development solutions and strategies to drive improved business decisions to maximize ROI through advanced analytics features which enable real-time monitoring of your data analytics metrics.
            </p>
        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/Dashboard_1.png') }}" alt="">
                Paginated Reports & Dashboard Development
            </h3>
            <p>
                From C-suite managers, mid-level management, and data experts to varied users, we offer paginated reports and intuitive dashboards with custom elements like graphs, charts, maps, and more to ease specialized data analytics requirements. We at Fortress Data And Analytics specialize in data visualization as a service providing personalized tactical, strategic, leadership, operational, and analytics dashboards along with the ability to integrate them with your existing systems or software.
            </p>
        </div>
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/Dashboard_2.png') }}" alt="">

                Data Visualization Implementation
            </h3>
            <p>
                Ease your specific data visualization and analytics need with our personalized data visualization strategy and implementation of data visualization solutions. Our data visualization consultant would research, analyze, and implements efficient data visualization techniques which are best fit for your requirements to unlock masked opportunities and unlock new business growth perspectives.
            </p>
        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/Dashboard_3.png') }}" alt="">

                Custom Dashboard Development
            </h3>
            <p>
                Accord your business the power of data analytics with strategically crafted custom dashboards aligning with the specific analytics requirements. Avail Fortress Data And Analytics data visualization service to leverage fully customized data visualization solutions for your specific KPIs and data from various sources. Our dashboards are designed to provide consumable data formats for a range of users from experts to novices.
            </p>
    </div>
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/Dashboard_4.png') }}" alt="">

                Dashboard Optimization
            </h3>
            <p>
                The hefty volume of data and information from various sources channeled into dashboards can be chaotic for analysis. With Fortress Data And Analytics' data visualization consulting services, our data visualization consultant ensure that your dashboards meet your specific expectations by optimizing visualizations for improving access, interactions to reduce the load time, optimizing database for querying, and seamless rending of data insights on various devices.
            </p>
        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/Predictive-Analytics-Solutions-Icon.png') }}" alt="">

                Data Visualization with Cloud Services
            </h3>
            <p>
                Not only interpreting data in natural language but also real-time analysis of high-volume data, our data visualization consultant leverage AWS, Azure, Google Cloud, and more for channelizing the data silos into the dashboard from various cloud sources. We make facilitate the business to integrate high-volume data from various courses in the cloud into a single custom dashboard to drive the ease of decision-making for businesses.
            </p>
        </div>
        <div class="contents left">
            <h3>
                <img src="{{ url_for('static', filename='services/Business-Intelligence-Implementation-Icon.png') }}" alt="">

                BI Migration
            </h3>
            <p>
                Make your existing data platform future ready with innovative methods to modernize it. Our data visualization development experts can build you a custom data platform that supports analytics and BI. We employ ETL and OLAP to integrate the data from various sources with the data platforms. Visualize your data with our data platform development service to back your decision-making with actionable insights.
            </p>
        </div>
        <div class="contents right">
            <h3>
                <img src="{{ url_for('static', filename='services/Data-Warehousing-Services-Icon.png') }}" alt="">

                Data Platform Development
            </h3>
            <p>
                Make your existing data platform future ready with innovative methods to modernize it. Our data visualization development experts can build you a custom data platform that supports analytics and BI. We employ ETL and OLAP to integrate the data from various sources with the data platforms. Visualize your data with our data platform development service to back your decision-making with actionable insights.
            </p>
        </div>

    </div>
</div>

<div class="services-tech-stack">
    <h2>
        Our Data Visualization Service Tech Stack
    </h2>
    <div class="contents">
        <h4>
            Data Visualization
        </h4>
        <img src="{{ url_for('static', filename='services/Power-BI-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/Tableau-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/PDI-Pentaho-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/SQL-Server-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/Excel-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/Logi-Composer-Technology.png') }}" alt="">

    </div>
    <div class="contents">
        <h4>
            Data Integration
        </h4>
        <img src="{{ url_for('static', filename='services/Azure-Data-Factory-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/PDI-Pentaho-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/AWS-Glue-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/Hevo-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/SQL-Server-Technology.png') }}" alt="">

    </div>
    <div class="contents">
        <h4>
            Data Warehousing
        </h4>
        <img src="{{ url_for('static', filename='services/SQL-Server-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/Azure-Synapse-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/Redshift-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/MySQL-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/Snowflake-Technology.png') }}" alt="">
        <img src="{{ url_for('static', filename='services/PostgreSQL-Technology.png') }}" alt="">

    </div>
</div>

<div class="contact">
    <div class="polygon serv-poly">
        <div class="contact-head">
            <h1>
                Data Visualization Consulting from the Best in the Business!
            </h1>
        </div>
    </div>
    <div class="contact-cont">
        <div class="main">
            <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
            <div class="content">
                <p>
                    Fortress Data And Analytics data visualization services can help your business to leverage business intelligence for data-backed business decisions. We help businesses visualize patterns, trends, and business opportunities from your data silos.
                </p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        Book a Call
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="ind-land">
    <div class="polygon">
        <div class="ind-head">
            <h1>
                Industries We Serve
            </h1>
        </div>
    </div>
    <div class="ind-cont">
        <div class="contents magnet">
            <a href="{{ url_for('fitness') }}" class="text">
                <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                <h5>
                    Fitness
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('fintech') }}" class="text">
                <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                <h5>
                    Fintech
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('education') }}" class="text">
                <img src="{{ url_for('static', filename='industries/education.png') }}">
                <h5>
                    Education
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('healthcare') }}" class="text">
                <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                <h5>
                    Healthcare
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('energy') }}" class="text">
                <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                <h5>
                    Energy & Utilities
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('travel') }}" class="text">
                <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                <h5>
                    Travel & Hospitality
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('manufacturing') }}" class="text">
                <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                <h5>
                    Manufacturing
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('adverts') }}" class="text">
                <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                <h5>
                    Advertising
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('retail') }}" class="text">
                <img src="{{ url_for('static', filename='industries/retail.png') }}">
                <h5>
                    Retail
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('entertain') }}" class="text">
                <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                    <h5>
                        Media & Entertainment
                    </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('supplychain') }}" class="text">
                <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                <h5>
                    Supply Chain And Logistics
                </h5>
            </a>
        </div>

        <div class="contents magnet">
            <a href="{{ url_for('travel') }}" class="text">
                <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                <h5>
                    Life Science
                </h5>
            </a>
        </div>  
    </div>
</div>
<!-- <div class="services-hire">
    <h2>
        Hire Data Visualization Consultant
    </h2>
    <p>
        Level up your ways to interact with data with Fortress Data And Analytics data visualization consulting services. Our data visualization consultant would assist you with various data visualization strategies to enhance the trajectory of business growth.
    </p>
    <button>
        Talk To Us
    </button>
</div> -->

<script>
    // Select all .magnet and .text elements
    const magnetElements = document.querySelectorAll('.magnet');
    const magnetTextElements = document.querySelectorAll('.text');

    // Function to activate the magnetic effect on mouse move
    const activateMagneto = (event) => {
        const boundBox = event.currentTarget.getBoundingClientRect();
        const magnetoStrength = 40;
        const magnetoTextStrength = 300;
        const newX = ((event.clientX - boundBox.left) / event.currentTarget.offsetWidth) - 0.5;
        const newY = ((event.clientY - boundBox.top) / event.currentTarget.offsetHeight) - 0.5;

        // Move the current magnet element
        gsap.to(event.currentTarget, {
            duration: 1,
            x: newX * magnetoStrength,
            y: newY * magnetoStrength,
            ease: Power4.easeOut
        });

        // Move the corresponding text element
        const textElement = event.currentTarget.querySelector('.text');
        gsap.to(textElement, {
            duration: 1,
            x: newX * magnetoTextStrength,
            y: newY * magnetoTextStrength,
            ease: Power4.easeOut
        });
    };

    // Function to reset the magnetic effect on mouse leave
    const resetMagneto = (event) => {
        // Reset the position of the magnet and the text
        gsap.to([event.currentTarget, event.currentTarget.querySelector('.text')], {
            duration: 1,
            x: 0,
            y: 0,
            ease: Elastic.easeOut
        });
    };

    // Add event listeners to each magnet element
    magnetElements.forEach((element) => {
        element.addEventListener('mouseenter', () => {
            element.addEventListener('mousemove', activateMagneto);
        });
        element.addEventListener('mouseleave', () => {
            element.removeEventListener('mousemove', activateMagneto);
            resetMagneto({ currentTarget: element });
        });
    });
</script>
{% endblock %}