{% extends 'base.html' %}
{% block title %}
    Enterprise ERP Solution
{% endblock %}
{% block content %}
<main class="bs">
    <div class="land">
        <img src="{{ url_for('static', filename='landing/erp.jpeg') }}" alt="">
        <div class="cont">
            <h1></h1>
            <h1 >
                Custom ERP software
            </h1>
            <p>
                The goal of custom ERP software development is to create a scalable, business-tailored system that aid in the management of large amounts of business-related data. Fortress Data And Analytics understands how to match technology to your company goals to provide end-to-end Custom ERP development and support that can be ideal for your business requirement.
            </p>
            <a href="">
                <button>
                    Request a Demo
                </button>
            </a>
        </div>
    </div>

    <div class="something">
        <div class="polygon">
            <div class="head">
                <h1>
                    ERP Development
                </h1>
            </div>
        </div>
        <p>
            Fortress Data And Analytics' cloud-based, scalable, customizable, and integrated Mobile ERP software carries out all business-critical processes in a centralized and integrated manner. Custom ERP systems are built and utilized to automate, manage, and integrate various business components, enable businesses to have a 360-degree view and a single point of real-time data reference.
        </p>
    </div>

    <div class="discover">
        <h2>
            Discover How Custom ERP Software Modules Can Augment Productivity And Profitability
        </h2>
        <div class="discover-cont">
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp1.png') }}" alt="">
                <p>Accounts</p>
            </div>
            <div class="div ">
                <img src="{{ url_for('static', filename='bs_sol/erp2.png') }}" alt="">
                <p>Human Resource</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp3.png') }}" alt="">
                <p>Advertising</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp4.png') }}" alt="">
                <p>Production</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp5.png') }}" alt="">
                <p>Warehouse Management</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/erp6.png') }}" alt="">
                <p>Sales and Distribution</p>
            </div>
        </div>
    </div>
    
    <div class="bs-benefits">
        <h2>
            Benefits Of ERP System
        </h2>
        <ul>
            <li>
                Uniform user-friendly interfaces for web portals and mobile applications
            </li>
            <li>
                Maximum features and reports of all modules available on the mobile app
            </li>
            <li>
                Highly secured login methods (pin, fingerprint, OTP, face detection)
            </li>
            <li>
                Geo-fencing to restrict the work area and restricted access based on user location/device/sim ID
            </li>
            <li>
                Intelligent reports for top-level management for forecasting, budgeting & planning
            </li>
            <li>
                Custom report builder to get interactive reports in various formats (table/chart etc. as per requirements)
            </li>
        </ul>
    </div>

    <div class="assurance">
        <h2>
            Our Assurance in ERP Development
        </h2>
        <div class="assurance-cont">
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu1.png') }}" alt="">
                <p>Easy Installation & Minimum Go To Live Time</p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu2.png') }}" alt="">
                <p>
                    Flexible & Fully Customisable as Per Business Processes
                </p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu4.png') }}" alt="">
                <p>24x7 SLA based Support</p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu5.png') }}" alt="">
                <p>Increased Productivity & Profitability</p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu6.png') }}" alt="">
                <p>
                    Increased ROI
                </p>
            </div>
            <div class="assure">
                <img src="{{ url_for('static', filename='bs_sol/assu8.png') }}" alt="">
                <p>
                    Top-Notch Security (Pin , Finger Print, OTP, Face Detection)
                </p>
            </div>
        </div>
    </div>


    <div class="discover">
        <h2>
            External Hardware Integration
        </h2>
        <div class="discover-cont">
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard8.png') }}" alt="">
                <p>Biometric machine</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard2.png') }}" alt="">
                <p>GPS Device</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard6.png') }}" alt="">
                <p>Thermometer System</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard10.png') }}" alt="">
                <p>Fingerprint Scan Access</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard5.png') }}" alt="">
                <p>POS System (Touch Screen Monitor, Tablet, Weighing Scale)</p>
            </div>
            <div class="div">
                <img src="{{ url_for('static', filename='bs_sol/hard1.png') }}" alt="">
                <p>Bluetooth &Wi-Fi enabled Barcode / QR Code Scanner</p>
            </div>
        </div>
    </div>
    <!--Ind we serve-->
    <div class="ind-land">
        <div class="polygon">
            <div class="ind-head">
                <h1>
                    Industries We Serve
                </h1>
            </div>
        </div>
        <div class="ind-cont">
            <div class="contents magnet">
                <a href="{{ url_for('fitness') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                    <h5>
                        Fitness
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('fintech') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                    <h5>
                        Fintech
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('education') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/education.png') }}">
                    <h5>
                        Education
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('healthcare') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                    <h5>
                        Healthcare
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('energy') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                    <h5>
                        Energy & Utilities
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                    <h5>
                        Travel & Hospitality
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('manufacturing') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                    <h5>
                        Manufacturing
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('adverts') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                    <h5>
                        Advertising
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('retail') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/retail.png') }}">
                    <h5>
                        Retail
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('entertain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                        <h5>
                            Media & Entertainment
                        </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('supplychain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                    <h5>
                        Supply Chain And Logistics
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                    <h5>
                        Life Science
                    </h5>
                </a>
            </div>  
        </div>
    </div>
    
    <script>
        // Select all .magnet and .text elements
        const magnetElements = document.querySelectorAll('.magnet');
        const magnetTextElements = document.querySelectorAll('.text');
    
        // Function to activate the magnetic effect on mouse move
        const activateMagneto = (event) => {
            const boundBox = event.currentTarget.getBoundingClientRect();
            const magnetoStrength = 40;
            const magnetoTextStrength = 300;
            const newX = ((event.clientX - boundBox.left) / event.currentTarget.offsetWidth) - 0.5;
            const newY = ((event.clientY - boundBox.top) / event.currentTarget.offsetHeight) - 0.5;
    
            // Move the current magnet element
            gsap.to(event.currentTarget, {
                duration: 1,
                x: newX * magnetoStrength,
                y: newY * magnetoStrength,
                ease: Power4.easeOut
            });
    
            // Move the corresponding text element
            const textElement = event.currentTarget.querySelector('.text');
            gsap.to(textElement, {
                duration: 1,
                x: newX * magnetoTextStrength,
                y: newY * magnetoTextStrength,
                ease: Power4.easeOut
            });
        };
    
        // Function to reset the magnetic effect on mouse leave
        const resetMagneto = (event) => {
            // Reset the position of the magnet and the text
            gsap.to([event.currentTarget, event.currentTarget.querySelector('.text')], {
                duration: 1,
                x: 0,
                y: 0,
                ease: Elastic.easeOut
            });
        };
    
        // Add event listeners to each magnet element
        magnetElements.forEach((element) => {
            element.addEventListener('mouseenter', () => {
                element.addEventListener('mousemove', activateMagneto);
            });
            element.addEventListener('mouseleave', () => {
                element.removeEventListener('mousemove', activateMagneto);
                resetMagneto({ currentTarget: element });
            });
        });
    </script>


<div class="contact">
    <div class="polygon serv-poly">
        <div class="contact-head">
            <h1>
                Talk To Us
            </h1>
        </div>
    </div>
    <div class="contact-cont">
        <div class="main">
            <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
            <div class="content">
                <p>Our dedicated .NET developers deliver custom .NET development solutions using versatile, cross-platform, and modern .NET frameworks.</p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        Lets Discuss Your Project
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
    
</main>
{% endblock %}