{% extends 'base.html' %}
{% block title %}
    Mobile Sales Force Automation Solution
{% endblock %}
{% block content %}
<main class="bs">
    <div class="land">
        <img src="{{ url_for('static', filename='landing/sfa.jpeg') }}" alt="">
        <div class="cont">
            <h1></h1>
            <h1 >
                Mobile Sales Force Automation Solutions
            </h1>
            <p>
                Gain More Visibility, Agility, And Productivity With Mobile Sales Force Automation Software,
            </p>
            <a href="">
                <button>
                    Request a Demo
                </button>
            </a>
        </div>
    </div>

    <div class="something">
        <div class="polygon">
            <div class="head">
                <h1>
                    Sales Force Automation Overview
                </h1>
            </div>
        </div>
        <p>
            Sales Force Automation (SFA) refers to the systems that automate sales activities and processes for sales professionals. It is one foundational software for organizations to manage and track all sales interactions and administrative activities between sales teams and customers. The primary aim of the Sales Force Automation System is to automate certain repetitive and time-consuming everyday tasks of the sales team.
        </p>
    </div>

    <div class="bs-benefits">
        <h2>
            Major Components Of Mobile Sales Force Automation Solution
        </h2>
        <ul>
            <li>
                Pre-sales & Order Taking
            </li>
            <li>
                Direct Sales/Van Sales Automation
            </li>
            <li>
                Marketing & BTL Activities
            </li>
            <li>
                Customized Survey/Feedback
            </li>
        </ul>
    </div>

    <div class="bs-benefits">
        <h2>
            Features Of Sales Force Automation
        </h2>

        <ul>
            <li>
                Client management
            </li>
            <li>
                Cross-platform and online/offline mode support
            </li>
            <li>
                Data synchronization through GPRS ⁄ EDGE ⁄ 3G ⁄ WiFi
            </li>
            <li>
                Third-party/legacy system integration
            </li>
            <li>
                Real-time/Near Real-time information sharing
            </li>
            <li>
                Sustenance for manifold Bluetooth printers, E-Mail/SMS Integration, and Bar Code Scanning
            </li>
            <li>
                Help to sell features: Suggested Order, last n transactions, outstanding invoices, etc.
            </li>
            <li>
                End-Day activities: unserved reasons, expense details, collection and deposition details, etc.
            </li>
        </ul>
    </div>

    <div class="discover">
        <h2>
            Sales Force Automation
        </h2>
        <div class="discover-cont">
            <div class="div">
        <img src="{{ url_for('static', filename='bs_sol/mhard1.png') }}" alt="">
        <h3>Automated Field Force Activities</h3>
        <p>Management, planning and execution of complete sales routine</p>
    </div>
    <div class="div">
        <img src="{{ url_for('static', filename='bs_sol/mhard2.png') }}" alt="">
        <h3>BI Analytics & Reports</h3>
        <p>
            Ad-hoc logical reports driven by Pentaho Saiku tool
        </p>
    </div>
    <div class="div">
        <img src="{{ url_for('static', filename='bs_sol/mhard3.png') }}" alt="">
        <h3>Order taking to Invoicing</h3>
        <p>
            Secondary order administration, invoice management, on the go printing
        </p>
    </div>
    <div class="div">
        <img src="{{ url_for('static', filename='bs_sol/mhard4.png') }}" alt="">
        <h3>Van Sales Automation</h3>
        <p>
            Stock Management in van and mobile, invoicing in real-time
        </p>
    </div>
    <div class="div">
        <img src="{{ url_for('static', filename='bs_sol/mhard5.png') }}" alt="">
        <h3>Apply Deals & Promotions</h3>
        <p>
            Deals & Promotions on products with performance perceptibility
        </p>
    </div>
    <div class="div">
        <img src="{{ url_for('static', filename='bs_sol/mhard6.png') }}" alt="">
        <h3>Field Force Attendance Registration</h3>
        <p>
            Real time mobile built attendance tracking
        </p>
    </div>
    <div class="div">
        <img src="{{ url_for('static', filename='bs_sol/mhard7.png') }}" alt="">
        <h3>Sales Route Management</h3>
        <p>
            Geo Fencing route and handling sales executive operations
        </p>
    </div>
    <div class="div">
        <img src="{{ url_for('static', filename='bs_sol/mhard8.png') }}" alt="">
        <h3>Surveys</h3>
        <p>
            Applying customer feedback for higher success ratios
        </p>
    </div>
        </div>
    </div>

    <div class="bs-benefits">
        <h2>
            Benefits of Sales Force Automation System
        </h2>
        <ul>
            <li>
                Reduced cost and response time between field staff and back office
            </li>
            <li>
                Timely information exchange with field staff
            </li>
            <li>
                Increased productivity and efficiency
            </li>
            <li>
                Competitive advantage in cost, revenue, and time
            </li>
            <li>
                Increase in sales revenue and market share
            </li>
            <li>
                Real-time performance, deals, and workflow management
            </li>
        </ul>
    </div>

    <div class="ind-land">
        <div class="polygon">
            <div class="ind-head">
                <h1>
                    Industries We Serve
                </h1>
            </div>
        </div>
        <div class="ind-cont">
            <div class="contents magnet">
                <a href="{{ url_for('fitness') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fitness.png') }}">
                    <h5>
                        Fitness
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('fintech') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/fintech.png') }}">
                    <h5>
                        Fintech
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('education') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/education.png') }}">
                    <h5>
                        Education
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('healthcare') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/healthcareicon.png') }}">
                    <h5>
                        Healthcare
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('energy') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/energy-and-utilities.png') }}">
                    <h5>
                        Energy & Utilities
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/travel-and-hospitality.png') }}">
                    <h5>
                        Travel & Hospitality
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('manufacturing') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/manufacturing.png') }}">
                    <h5>
                        Manufacturing
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('adverts') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/advertising.png') }}">
                    <h5>
                        Advertising
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('retail') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/retail.png') }}">
                    <h5>
                        Retail
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('entertain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/media-and-entertainment.png') }}">
                        <h5>
                            Media & Entertainment
                        </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('supplychain') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/logistics.png') }}">
                    <h5>
                        Supply Chain And Logistics
                    </h5>
                </a>
            </div>
    
            <div class="contents magnet">
                <a href="{{ url_for('travel') }}" class="text">
                    <img src="{{ url_for('static', filename='industries/life-sciences.png') }}" alt="">
                    <h5>
                        Life Science
                    </h5>
                </a>
            </div>  
        </div>
    </div>
    
    <script>
        // Select all .magnet and .text elements
        const magnetElements = document.querySelectorAll('.magnet');
        const magnetTextElements = document.querySelectorAll('.text');
    
        // Function to activate the magnetic effect on mouse move
        const activateMagneto = (event) => {
            const boundBox = event.currentTarget.getBoundingClientRect();
            const magnetoStrength = 40;
            const magnetoTextStrength = 300;
            const newX = ((event.clientX - boundBox.left) / event.currentTarget.offsetWidth) - 0.5;
            const newY = ((event.clientY - boundBox.top) / event.currentTarget.offsetHeight) - 0.5;
    
            // Move the current magnet element
            gsap.to(event.currentTarget, {
                duration: 1,
                x: newX * magnetoStrength,
                y: newY * magnetoStrength,
                ease: Power4.easeOut
            });
    
            // Move the corresponding text element
            const textElement = event.currentTarget.querySelector('.text');
            gsap.to(textElement, {
                duration: 1,
                x: newX * magnetoTextStrength,
                y: newY * magnetoTextStrength,
                ease: Power4.easeOut
            });
        };
    
        // Function to reset the magnetic effect on mouse leave
        const resetMagneto = (event) => {
            // Reset the position of the magnet and the text
            gsap.to([event.currentTarget, event.currentTarget.querySelector('.text')], {
                duration: 1,
                x: 0,
                y: 0,
                ease: Elastic.easeOut
            });
        };
    
        // Add event listeners to each magnet element
        magnetElements.forEach((element) => {
            element.addEventListener('mouseenter', () => {
                element.addEventListener('mousemove', activateMagneto);
            });
            element.addEventListener('mouseleave', () => {
                element.removeEventListener('mousemove', activateMagneto);
                resetMagneto({ currentTarget: element });
            });
        });
    </script>


<div class="contact">
    <div class="polygon serv-poly">
        <div class="contact-head">
            <h1>
                Talk To Us
            </h1>
        </div>
    </div>
    <div class="contact-cont">
        <div class="main">
            <img src="{{ url_for('static', filename='landing/contact2.jpeg') }}" alt="">
            <div class="content">
                <p>Our dedicated .NET developers deliver custom .NET development solutions using versatile, cross-platform, and modern .NET frameworks.</p>
                <a href="{{ url_for('contact') }}">
                    <button>
                        Lets Discuss Your Project
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
    
</main>
{% endblock %}